*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #e9eaf0;
}
.main{
    text-align: center;
    margin-top: 50px;
}
.main_content{
    width: 50%;
    margin: 10px;
    padding: 10px;
}
.danger{
    color: red;
    text-align: center;
}
.content{
    margin: 30px;
    padding-top: 5px;
}

.content h3{
    padding: 5px;
}
.content h2{
    padding: 5px;
}
.content h2 a{
    text-decoration: none;
}
.content p{
    font-size: 18px;
}